.benefits {
    overflow: hidden;

    position: relative;
    padding: 120px 0;

    &::after {
        content: "II"; 

        position: absolute;
        top: 0;
        left: calc(50% + 555px);
        transform: translate(-50%, 0%);
        line-height: 1.15;

        opacity: 0.02;        
        font-size: 400px;
        // font-weight: 700;
        font-family: $font-accent;

    }
}
.benefits__row {
    display: flex;
    column-gap: 70px;

    @media screen and (max-width: $tablet) {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr)); //колонки максимально заполняют ряд и растягиваются
        gap: 30px;
    }
}
.benefits__item {
    text-align: center;
}
.benefits__item-img {
    margin-bottom: 53px;

    @media screen and (max-width: $tablet) {
        width: 60px;
        height: 60px;
        margin-bottom: 20px;
    }
}
.benefits__item-text {
    font-size: 20px;
    line-height: 1.35;
    font-family: $font-secondary;
    font-weight: 300;

    @media screen and (max-width: $tablet) {
        font-size: 16px;
    }
}
