.cta {
    padding: 100px 0;
    background: 
        linear-gradient(
            180deg, 
            $dark 10.42%, 
            rgba(36, 43, 51, 0) 50.52%, 
            $dark 90.1%
        ), 
        linear-gradient(
            0deg, 
            rgba(36, 43, 51, 0.9), 
            rgba(36, 43, 51, 0.9)
        ), 
        url("./../img/cta/cta-bg.jpg"), 
            #C4C4C4;

    @media screen and (max-width: $tablet) {
        padding: 60px 0; 
    }
}
.cta__title {
    margin-bottom: 17px;
}
.cta__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

    @media screen and (max-width: $tablet) {
        grid-template-columns: 1fr;
    }
}
.cta__text {
    line-height: 1.5;

    p + p {
        margin-top: 1em;
    }

    @media screen and (max-width: $tablet) {
font-size: 14px;
    }
}

.cta__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px 30px;

    @media screen and (max-width: $tablet) {
        grid-template-columns: 1fr;
    }
}