.footer {
    background-color: $footer-bg;
    padding-top: 72px;
    padding-bottom: 51px;
    font-size: 14px;
    letter-spacing: 0.05rem;

    @media screen and (max-width: $tablet) {
       padding-top: 72px;
       padding-bottom: 26px; 
    }
}

.footer__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

    @media screen and (max-width: $tablet) {
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
        gap: 40px 30px;
    }
}

.footer__logo {
    margin-top: -12px;
}

.footer__nav-list {
    display: grid;
    gap: 15px;
}
.footer__addres {
    display: grid;
    gap: 20px;
}
.footer__socials {
    display: flex;
    column-gap: 22px;
    align-items: center;
}