.form__input {
    height: 50px;
    padding: 12px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    color: $white;
    font-size: 14px;
    transition: background-color 0.2s ease-in;

    &::placeholder {
        color: $placeholder;
    }

    &:hover,
    &:focus {
        background-color: rgba(255, 255, 255, 0.25);
    }
}
.form__privacy {
    font-size: 13px;
    color: $muted;
    text-align: center;
    line-height: 1.23;

        @media screen and (max-width: $tablet) {
            grid-row: 4 / 5; //меняет местами ряды
        }
}
.form__btn {
    background-color: $accent;
    height: 50px;
    padding: 12px;
    font-size: 16px;
    color: $white;
    font-weight: 700;
    text-align: center;

    &:hover {
        background-color: saturate($accent, 10%); //увеличивает яркость
    }
}